.Dropdown {
    background-color: red;
    max-width: 300px;
    position: relative;
}

.Dropdown>.header {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.Dropdown>.header:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.Dropdown>.header:active {
    background-color: #f9f9f9;
}

.Dropdown>.list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.Dropdown>.list>h5 {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    border: 1px solid #e1e1e1;
}

.Dropdown>.list>h5.selected {
    background-color: blue;
    color: #fff;
}

.Dropdown>.list>h5:hover:not(.selected) {
    cursor: pointer;
    background-color: #f1f1f1;
}

.Dropdown>.list>h5:active {
    cursor: pointer;
    background-color: #f9f9f9;
}