.Btn {
    background-color: cyan;
    border: 1px solid #999;
    padding: 10px 10px;
}

.Btn:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0px 0px 7px #333;
}

.Btn:active {
    opacity: 0.9;
    box-shadow: 0px 0px 4px #333;
}

.Btn[variant="cancel"] {
    background-color: #666;
}