.Grid {
    display: grid;
    height: 100%;
    grid-template-rows: 60px 1fr;
}

.Grid> :first-child {
    background-color: #333;
    color: #fff;
}

.Grid> :last-child {
    background-color: #f1f1f1;
}

.Grid>* {
    padding: 20px;
}