html,
body,
#root,
.App {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;

    font-size: 13px;
}

a.active {
    color: cyan;
}